:path_to_ignore
.DS_Store
Mooskine/Mooskine.xcodeproj/xcuserdata/adarsha.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Mooskine/Mooskine.xcodeproj/project.xcworkspace/xcuserdata/adarsha.xcuserdatad/UserInterfaceState.xcuserstate
